html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 100px 0 0 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.fluid {
  max-width: 100%;
  display: block;
}

.button, .wp-block-button__link {
  background-color: #E50019;
  transition: background-color 200ms linear;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  border-radius: 0;
  display: inline-block;
}
.button:hover, .wp-block-button__link:hover {
  background-color: #00A1ED;
  color: #ffffff;
}

.no-wrap {
  white-space: nowrap;
}

h2 {
  font-size: 1.875rem;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #006B9D;
  margin: 0 0 1rem 0;
  line-height: 1.1;
}
@media (min-width: 800px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1.5625rem;
  font-weight: 700;
  color: #E50019;
}

p {
  font-size: 1.25rem;
  margin: 0 0 1rem 0;
}

ul {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 1rem 0;
  padding: 0;
  list-style: none;
}

.header-wrap {
  background-color: #e6e6e6;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.logged-in .header-wrap {
  top: 32px;
}

.site-branding {
  display: flex;
  align-self: center;
}
.site-branding img {
  width: 106px;
}

.site-header {
  background-color: #e6e6e6;
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1280px;
  margin: 0 auto;
  height: 100px;
  padding: 0 1.5rem 0 1.5rem;
}
.site-header #site-navigation {
  display: none;
}
@media (min-width: 1250px) {
  .site-header #site-navigation {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: flex-end;
  }
}
.site-header #site-navigation #primary-menu {
  display: none;
}
@media (min-width: 800px) {
  .site-header #site-navigation #primary-menu {
    display: flex;
  }
}
.site-header #site-navigation #primary-menu li {
  margin-right: 1.5rem;
}
.site-header #site-navigation #primary-menu li a {
  font-size: 0.875rem;
  font-weight: 700;
  color: #000000;
  display: inline;
}
.site-header #site-navigation .phone-button li {
  margin-right: 1.5rem;
}
.site-header #site-navigation .phone-button li a {
  font-size: 0.875rem;
  display: inline;
  color: #00A1ED;
  font-weight: 700;
}
.site-header #site-navigation .phone-button li .nav-button {
  background-color: #00A1ED;
  color: white;
  padding: 0.7rem 1rem 0.7rem 1rem;
  display: inline;
  border-radius: 4px;
}

.mobile-menu {
  position: absolute;
  top: 45px;
  right: 45px;
  cursor: pointer;
  height: 30px;
}
.mobile-menu span {
  margin: 0 auto;
  position: relative;
  top: 8px;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.mobile-menu span:before, .mobile-menu span:after {
  position: absolute;
  content: "";
}
.mobile-menu span, .mobile-menu span:before, .mobile-menu span:after {
  width: 34px;
  height: 2px;
  background-color: #000;
  display: block;
}
.mobile-menu span:before {
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
  margin-top: -8px;
}
.mobile-menu span:after {
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
  margin-top: 8px;
}
@media (min-width: 1250px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-nav {
  display: none;
  position: fixed;
  top: 100px;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: black;
  color: #ffffff;
}
.mobile-nav .menu-main-container {
  height: auto;
}
.mobile-nav .menu-main-container #primary-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mobile-nav ul {
  margin-top: 3rem;
  padding: 0 1.5rem 0 1.5rem;
}
.mobile-nav ul li a {
  font-size: 2rem;
  color: #ffffff;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
}
@media (min-width: 600px) {
  .mobile-nav ul li a {
    font-size: 3rem;
  }
}
.mobile-nav ul li a:hover {
  color: #E50019;
}
.mobile-nav #mobile-nav-cta {
  position: relative;
  font-size: 16px !important;
}
.mobile-nav #mobile-nav-cta .nav-button {
  background-color: #E50019;
  color: white;
  text-transform: uppercase;
  padding: 15px 25px;
  border-radius: 4px;
  font-size: 14px !important;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
}
.mobile-nav #mobile-nav-cta li {
  font-size: 0.8em;
}
.mobile-nav #mobile-nav-cta li:last-of-type {
  color: #00A1ED;
  font-size: 16px !important;
  font-family: "Roboto", sans-serif;
  margin-top: 30px;
}
.mobile-nav #mobile-nav-cta li:last-of-type a {
  color: #00A1ED;
  font-family: "Roboto", sans-serif;
  font-size: 16px !important;
}

.show-mobile-nav {
  display: block;
}

.rotate-mobile {
  /* example 5 */
}
.rotate-mobile span {
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.rotate-mobile span:before {
  margin-top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
}
.rotate-mobile span:after {
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
}

.container-1000 {
  max-width: 1000px;
  margin: 0 auto;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem 0 1rem;
}

.is-style-container-1000 {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem 0 1rem;
}

.is-style-container-700 {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 1rem 0 1rem;
}

.wp-block-group {
  padding: 0 1rem 0 1rem;
}

@media (min-width: 782px) {
  .wp-block-column:not(:first-child) {
    margin-left: 4rem;
  }
}
.home-hero {
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  display: flex;
  align-items: center;
}
@media (min-width: 700px) {
  .home-hero {
    height: 500px;
  }
}
.home-hero .wrap {
  padding: 2rem;
}
.home-hero .wrap .button {
  margin-right: 1rem;
}
.home-hero .wrap h1 {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 3rem 0;
}
@media (min-width: 400px) {
  .home-hero .wrap h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 600px) {
  .home-hero .wrap h1 {
    font-size: 3.125rem;
  }
}
@media (min-width: 800px) {
  .home-hero .wrap h1 {
    font-size: 5.625rem;
  }
}
.home-hero .wrap h2 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2;
  color: #ffffff;
  margin: 0 0 1rem 0;
}
@media (min-width: 400px) {
  .home-hero .wrap h2 {
    font-size: 1.2rem;
  }
}
@media (min-width: 600px) {
  .home-hero .wrap h2 {
    font-size: 1.375rem;
  }
}
@media (min-width: 800px) {
  .home-hero .wrap h2 {
    font-size: 1.5625rem;
  }
}
.home-hero .wrap .phone {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 0 0 0;
  display: inline-block;
}
@media (min-width: 400px) {
  .home-hero .wrap .phone {
    font-size: 1.25rem;
  }
}

.home-services {
  background-color: #ffffff;
  text-align: center;
  padding: 3.9375rem 0 5.125rem 0;
}
.home-services p {
  text-transform: capitalize;
  font-size: 1.5625;
}
.home-services .service-grid {
  max-width: 660px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding: 2rem 0 4rem 0;
}
@media (min-width: 600px) {
  .home-services .service-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.home-services .service-grid .icon {
  background-color: #00A1ED;
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto;
}
.home-services .service-grid p {
  margin-top: 1rem;
  font-size: 1.125rem;
  font-weight: 700;
}

.pricing {
  background-color: #006B9D;
  color: #ffffff;
  padding: 3.375rem 1.5rem 3.75rem 1.5rem;
}
.pricing .pricing-wrap {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  max-width: 623px;
  margin: 0 auto;
}
.pricing .pricing-wrap img {
  margin-bottom: 1rem;
}
@media (min-width: 600px) {
  .pricing .pricing-wrap {
    grid-template-columns: 1fr 3fr;
    text-align: left;
  }
}
.pricing .pricing-wrap h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #ffffff;
}
.pricing .pricing-wrap p {
  font-size: 1.25rem;
}
.pricing .pricing-wrap ul {
  list-style: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
  margin: 0 0 2rem 0;
}
.pricing .line {
  background-color: #ffffff;
  height: 1px;
  max-width: 700px;
  margin: 0 auto 2rem auto;
}

.two-alt {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #F0F0F0;
}
.two-alt .col-1 {
  order: 1;
}
.two-alt .col-2 {
  order: 2;
}
.two-alt .col-3 {
  order: 4;
}
.two-alt .col-4 {
  order: 3;
}
@media (min-width: 800px) {
  .two-alt {
    grid-template-columns: 1fr 1fr;
  }
  .two-alt .col-1 {
    order: 1;
  }
  .two-alt .col-2 {
    order: 2;
  }
  .two-alt .col-3 {
    order: 3;
  }
  .two-alt .col-4 {
    order: 4;
  }
}
.two-alt .col {
  display: flex;
  align-self: center;
  flex-direction: column;
}
.two-alt .col .wrap {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem 1.5rem 2rem 1.5rem;
}
@media (min-width: 800px) {
  .two-alt .col .wrap {
    padding: 0 1.5rem 0 1.5rem;
  }
}

.testimonials {
  background-color: #006B9D;
  padding: 4rem 1rem 2rem 1rem;
}
@media (min-width: 800px) {
  .testimonials {
    padding: 5rem 1rem 5rem 1rem;
  }
}
.testimonials .test-wrap {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.testimonials .test-wrap h2 {
  font-size: 2rem;
  text-transform: initial;
  color: #ffffff;
}
.testimonials .test-wrap p {
  color: #ffffff;
}

.questions {
  display: flex;
  align-items: center;
  height: auto;
  padding: 2rem 0 2rem 0;
}
@media (min-width: 600px) {
  .questions {
    height: 352px;
  }
}
.questions .wrap {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
.questions .wrap h2 {
  margin-bottom: 0.5rem;
}
.questions .wrap p {
  margin-bottom: 2rem;
}

.standard-hero {
  background-color: #00A1ED;
  height: auto;
  text-align: center;
  padding: 3em 1em 3em 1em;
}
@media (min-width: 700px) {
  .standard-hero {
    height: 206px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.standard-hero h1 {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
}
@media (min-width: 700px) {
  .standard-hero h1 {
    font-size: 4rem;
  }
}

.appliance {
  background-color: #ffffff;
  display: grid;
  max-width: 1000px;
  grid-template-columns: 1fr;
  padding: 4rem 0 0 0;
  grid-template-areas: "col-left" "col-right" "col-bottom";
}
@media (min-width: 700px) {
  .appliance {
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: "col-left col-right" "col-bottom col-bottom";
  }
}
.appliance .col-left {
  grid-area: col-left;
}
.appliance .col-left .wrap {
  padding: 0 1rem 0 1rem;
  margin: 0 auto;
}
.appliance .col-right {
  grid-area: col-right;
}
.appliance .col-right img {
  max-width: 17rem;
  padding: 0 1rem 0 1rem;
  margin: 0 auto;
}
.appliance .col-bottom {
  border-top: 1px solid #707070;
  grid-area: col-bottom;
  padding: 3rem 0 3rem 0;
  margin: 3rem 0 0 0;
}
.appliance .col-bottom .wrap {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.appliance .col-bottom p {
  color: #E50019;
  font-weight: 700;
  font-size: 1.5rem;
}

.about-pricing {
  background-color: #F0F0F0;
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem 0 2rem 0;
}
@media (min-width: 1000px) {
  .about-pricing {
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
}
@media (max-width: 640px) {
  .about-pricing {
    padding-top: 0px !important;
  }
}
@media (max-width: 640px) {
  .about-pricing .col:first-of-type {
    grid-row: 2;
    margin-top: 30px;
  }
}
@media (max-width: 640px) {
  .about-pricing .col:last-of-type {
    grid-row: 1;
  }
}
.about-pricing .col {
  display: flex;
  align-self: center;
}
.about-pricing .col .wrap {
  max-width: 490px;
  margin: 0 auto;
  padding: 0 1rem 4rem 1rem;
}
@media (min-width: 1000px) {
  .about-pricing .col .wrap {
    padding-bottom: 0;
  }
}
.about-pricing .col .wrap ul {
  color: #000000;
}
.about-pricing .col .wrap .financing-link {
  color: #00A1ED;
  font-size: 1.5625rem;
  font-weight: 700;
  margin-top: 1rem;
}
.about-pricing .col .wrap .financing-link a {
  text-decoration: underline;
}

.branding {
  height: 500px;
  display: flex;
  align-items: center;
  text-align: center;
}
.branding h2 {
  margin-bottom: 2.5rem;
}
.branding .brands {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
  margin-bottom: 2.5rem;
}
.branding .add-info {
  max-width: 600px;
  margin: 0 auto;
}

.service-areas {
  padding: 4rem 0 4rem 0;
  background-color: #F0F0F0;
  text-align: center;
}
.service-areas .list-of-areas {
  font-size: 1rem;
  font-weight: 300;
}

.appliance-repair {
  padding: 3rem 0 3rem 0;
}
.appliance-repair .wrap {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.appliance-repair p {
  color: #E50019;
  font-weight: 700;
  font-size: 1.5625rem;
}
.appliance-repair p a {
  color: #E50019;
}

.ar {
  background-color: #F0F0F0;
  padding: 5rem 0 4rem 0;
}
.ar .ar-info {
  max-width: 633px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.ar-service-list {
  background-color: #F0F0F0;
}
.ar-service-list .ar-title {
  padding: 3rem 1rem 2rem 1rem;
  text-align: center;
}

.ar-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}
@media (min-width: 800px) {
  .ar-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.ar-grid .icon-wrap {
  background-color: #ffffff;
  padding: 1.5rem;
}
.ar-grid .icon-wrap p {
  font-size: 1.125rem;
  text-align: center;
  font-weight: 700;
}
.ar-grid .icon-wrap ul {
  font-size: 18px;
  text-align: center;
  font-weight: 300;
}
.ar-grid .icon {
  background: #00A1ED;
  max-width: 110px;
  height: 110px;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.ar-grid .icon-wrap:last-child {
  background-color: #006B9D;
  color: #ffffff;
  padding: 2.5rem;
}
.ar-grid .icon-wrap:last-child .icon {
  background-color: transparent;
  margin: 0 0 auto 0;
}
.ar-grid .icon-wrap:last-child p {
  margin-top: 1rem;
  text-align: left;
}

.main-hero {
  background-color: #00A1ED;
  color: #ffffff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
@media (max-width: 960px) {
  .main-hero {
    background-image: none !important;
  }
}

.hero-with-image {
  height: 500px;
  display: flex;
  align-items: center;
}
.hero-with-image .wrap {
  max-width: 539px;
}
.hero-with-image .wrap h2 {
  color: #ffffff;
}

.form-section {
  display: grid;
  grid-template-columns: 1fr;
  padding: 3rem 0 3rem 0;
  grid-gap: 4rem;
}
@media (min-width: 800px) {
  .form-section {
    grid-template-columns: 1.5fr 1fr;
  }
}
.form-section .form {
  background-color: #F0F0F0;
  padding: 1rem;
}
.form-section .wrap-col {
  margin-top: 2rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
}
@media (min-width: 800px) {
  .form-section .wrap-col {
    grid-template-columns: 1fr 3fr;
  }
}

.financing {
  background-color: #006B9D;
  text-align: center;
  padding: 3rem 0 3rem 0;
}
.financing .wrap {
  max-width: 660px;
  margin: 0 auto;
}
.financing .wrap h2 {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}
.financing .wrap p {
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
}

.contact-info img {
  display: none;
}
@media (min-width: 800px) {
  .contact-info img {
    display: block;
  }
}
.contact-info ul {
  font-weight: 300;
  margin-top: 1rem;
}
.contact-info ul span {
  font-weight: 700;
}

.financing-info {
  background-color: #006B9D;
  color: #ffffff;
  padding: 1rem;
}
.financing-info h2 {
  color: #ffffff;
}
.financing-info p a {
  color: #ffffff;
}

.site-footer {
  background-color: #000000;
  padding-right: 1rem;
  padding-left: 1rem;
}
@media (max-width: 599px) {
  .site-footer {
    padding-bottom: 65px;
  }
}
.site-footer .site-info {
  display: grid;
  grid-template-columns: 1fr;
  padding: 3rem 0 2rem 0;
}
@media (min-width: 800px) {
  .site-footer .site-info {
    grid-template-columns: 2fr 1fr;
  }
}
@media (max-width: 599px) {
  .site-footer .site-info {
    text-align: center;
  }
}
.site-footer .site-info .schedule-service ul {
  display: block;
  list-style: none;
  padding: 0;
}
@media (min-width: 800px) {
  .site-footer .site-info .schedule-service ul {
    display: flex;
  }
}
.site-footer .site-info .schedule-service ul #mobile-footer-logo img {
  margin: auto;
  margin-bottom: 45px;
  width: 106px;
}
@media (min-width: 600px) {
  .site-footer .site-info .schedule-service ul #mobile-footer-logo {
    display: none;
  }
}
.site-footer .site-info .schedule-service ul li {
  margin-bottom: 1rem;
}
@media (min-width: 800px) {
  .site-footer .site-info .schedule-service ul li {
    margin-right: 1rem;
  }
}
@media (max-width: 599px) {
  .site-footer .site-info .schedule-service ul li {
    text-align: center;
  }
}
.site-footer .site-info .schedule-service ul li .financing-button {
  font-size: 1rem;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  color: #00A1ED;
  text-decoration: underline;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.site-footer .site-info .schedule-service ul li .financing-button:hover {
  color: #ffffff;
}
@media (max-width: 599px) {
  .site-footer .site-info .schedule-service ul li .financing-button {
    text-align: center;
    margin: 0 auto;
    display: block;
  }
}
.site-footer .site-info .schedule-service ul li:last-of-type {
  line-height: 35px;
}
.site-footer .site-info .schedule-service .service-button {
  background-color: #E50019;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.6rem 1rem 0.6rem 1rem;
  border-radius: 6px;
  color: #ffffff;
}
.site-footer .site-info .schedule-service .service-button:hover {
  background-color: #00A1ED;
}
.site-footer .site-info .footer-menu ul {
  display: block;
  list-style: none;
  padding: 0;
}
@media (min-width: 800px) {
  .site-footer .site-info .footer-menu ul {
    display: flex;
  }
}
.site-footer .site-info .footer-menu ul li {
  margin-right: 1rem;
}
@media (max-width: 599px) {
  .site-footer .site-info .footer-menu ul li {
    margin-right: 0px;
    padding: 10px 0px;
  }
}
.site-footer .site-info .footer-menu ul li a {
  color: #ffffff;
  font-size: 0.875rem;
  text-decoration: none;
  font-weight: 700;
}
@media (max-width: 599px) {
  .site-footer .site-info .social-media {
    display: none;
  }
}
.site-footer .site-info .social-media ul {
  padding: 0;
  list-style: none;
  display: flex;
}
@media (max-width: 599px) {
  .site-footer .site-info .social-media ul {
    justify-content: center;
  }
}
.site-footer .site-info .social-media ul li {
  margin-right: 1rem;
}
.site-footer .site-info .social-media ul li a {
  color: #ffffff;
  font-size: 0.875rem;
  text-decoration: none;
  transition: 0.3s;
}
.site-footer .site-info .social-media ul li a .fab {
  color: #ffffff;
  transition: 0.3s;
}
.site-footer .site-info .social-media ul li a:hover {
  color: #E50019;
}
.site-footer .site-info .social-media ul li a:hover .fab {
  color: #E50019;
}
@media (max-width: 599px) {
  .site-footer .site-info .footer-logos {
    display: none;
  }
}
.site-footer .site-info .footer-logos ul {
  display: flex;
  list-style: none;
  padding: 0;
}
@media (max-width: 599px) {
  .site-footer .site-info .footer-logos ul {
    justify-content: center;
  }
}
.site-footer .site-info .footer-logos ul li {
  margin-right: 2rem;
}
.site-footer .site-info .footer-logos ul li .authorized-dealer-logo {
  width: 113px;
}
.site-footer .site-info .footer-logos ul li .footer-logo {
  width: 106px;
}
.site-footer #site-footer-print,
.site-footer #site-footer-print > * {
  color: #ffffff;
  font-size: 0.875rem;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0px;
}
.site-footer #site-footer-print p,
.site-footer #site-footer-print > * p {
  padding: 15px 0px;
}
.site-footer #site-footer-print a,
.site-footer #site-footer-print > * a {
  color: white;
}

#mobile-footer-cta {
  position: fixed;
  bottom: 0;
  height: 65px;
  width: 100%;
  z-index: 9;
  background-color: #B70014;
  color: white;
}
#mobile-footer-cta ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 65px;
}
#mobile-footer-cta li {
  font-size: 16px;
}
#mobile-footer-cta li a {
  color: white !important;
  text-decoration: none;
}
#mobile-footer-cta li:first-of-type {
  background-color: #E50019;
  text-transform: uppercase;
  padding: 0px 5px;
  border-radius: 4px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 600px) {
  #mobile-footer-cta {
    display: none !important;
  }
}

.hero-with-image .hwi h2 {
  font-size: 2rem;
  color: #ffffff;
}
@media (min-width: 600px) {
  .hero-with-image .hwi h2 {
    font-size: 4rem;
  }
}

.hero-with-image .sub-head {
  font-weight: 700;
}

.container-1000 .wp-block-group__inner-container .wp-block-columns {
  padding: 0px !important;
}

/*# sourceMappingURL=peak.css.map */
