@import '../../../scss/_vars.scss';


.home-services {
    background-color: $white;
    text-align: center;
    padding: 3.9375rem 0 5.125rem 0;

    p {
        text-transform: capitalize;
        font-size: 1.5625;
    }

    .service-grid {
        max-width: 660px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        padding: 2rem 0 4rem 0;

        @media (min-width: 600px) {
            grid-template-columns: repeat(4, 1fr);
        }

        .icon-wrap {
            cursor: pointer;
        }

        a {
            text-decoration: none;
        }

        .icon {
            background-color: $peak-blue-two;
            width: 110px;
            height: 110px;
            display: flex;
            justify-content: center;
            border-radius: 50%;
            margin: 0 auto;
        }

        p {
            margin-top: 1rem;
            font-size: 1.125rem;
            font-weight: 700;
            color: $black;
            text-decoration: none; 
        }
    }
}

.wide {
    background-color: transparent;
    text-align: center;

    p {
        text-transform: capitalize;
        font-size: 1.5625;
    }

    .service-grid {
        max-width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        padding: 2rem 0 4rem 0;

        @media (min-width: 600px) {
            grid-template-columns: repeat(3, 1fr);
        }

        .icon-wrap {
            cursor: pointer;
            background-color: white;
            padding: 30px;

            p {
                margin-bottom: 0px;
            }
        }

        .icon-wrap:last-of-type {
            background-color: $peak-blue;
            color: white;

            .icon {
                background-color: transparent;
                margin: 0px;
            }
        }

        a {
            text-decoration: none;
        }

        .icon {
            background-color: $peak-blue-two;
            width: 110px;
            height: 110px;
            display: flex;
            justify-content: center;
            border-radius: 50%;
            margin: 0 auto;
        }

        p {
            margin-top: 1rem;
            font-size: 1.125rem;
            font-weight: 700;
            color: $black;
            text-decoration: none; 
        }
    }

}


// Modal styles

/* The Modal (background) */
.modal-show {
    display: block !important;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 0; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    z-index: 9995;
  }
  
  /* Modal Content/Box */
  .modal-content {
      text-align: center;
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 2.5rem 2rem 2.5rem 2rem;
        border: 1px solid #888;
        max-width: 550px; /* Could be more or less, depending on screen size */
        z-index: 9999;

        img {
            margin: 0 auto;
            display: block;
        }

        .intro-text {
            font-size: 1rem;
            margin: 0 0 2rem 0;
        }

        .small-text {
            font-size: 0.75rem;
            margin: 2rem 0 1rem 0;
        }

    .modal-icon {
        background-color: $peak-blue-two;
        width: 110px;
        height: 110px;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        margin: 0 auto;
    }

    .modal-icon-name {
        font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        margin-top: 1rem;
        font-size: 2.5rem;
        color: $peak-blue;
    }
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }