.standard-hero {
    background-color: $peak-blue-two;
    height: auto;
    text-align: center;
    padding: 3em 1em 3em 1em;
    
    @media (min-width: 700px) {
        height: 206px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
        font-size: 3rem;
        color: $white;
        text-transform: uppercase;
        margin: 0;
        line-height: 1;

        @media (min-width: 700px) {
            font-size: 4rem;
        }
    }
}

.appliance {
    background-color: $white;
    display: grid;
    max-width: 1000px;
    grid-template-columns: 1fr;
    padding: 4rem 0 0 0;
    grid-template-areas: "col-left" "col-right" "col-bottom";

    @media (min-width: 700px) {
        grid-template-columns: 1.5fr 1fr;
        grid-template-areas: "col-left col-right" "col-bottom col-bottom";
    }
    
    .col-left {
        grid-area: col-left;

        .wrap {
            padding: 0 1rem 0 1rem;
            margin: 0 auto;
        }
    }

    .col-right {
        grid-area: col-right;

        img {
            max-width: 17rem;
            padding: 0 1rem 0 1rem;
            margin: 0 auto;
        }
    }

    .col-bottom {
        border-top: 1px solid #707070;
        grid-area: col-bottom;
        padding: 3rem 0 3rem 0;
        margin: 3rem 0 0 0;

        .wrap {
            width: 70%;
            margin: 0 auto;
            text-align: center;
        }

        p {
            color: $peak-red;
            font-weight: 700;
            font-size: 1.5rem;
        }
    }
}

.about-pricing {
    background-color: $peak-light-grey;
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem 0 2rem 0;

    @media (min-width: 1000px) {
        grid-template-columns: 1fr 1fr;
        padding: 0;
    }

    @media (max-width: 640px){
        padding-top: 0px !important;
    }

    .col:first-of-type {
        @media (max-width: 1640px){
            padding: 15px 0px;
        }

        @media (max-width: 640px){
            grid-row: 2;
            margin-top: 30px;
        }
    }

    .col:last-of-type {
        @media (max-width: 640px){
            grid-row: 1;
        }
    }

    .col {
        display: flex;
        align-self: center;

        .wrap {
            max-width: 490px;
            margin: 0 auto;
            padding: 0 1rem 4rem 1rem;

            @media(min-width: 1000px) {
                padding-bottom: 0;
            }

            ul {
                color: $black;
            }

            .financing-link {
                color: $peak-blue-two;
                font-size: 1.5625rem;
                font-weight: 700;
                margin-top: 1rem;

                a {
                    text-decoration: underline;
                }
            }
        }
    }
}
.branding {
    height: 500px;
    display: flex;
    align-items: center;
    text-align: center;

    h2 {
        margin-bottom: 2.5rem;
    }

    .brands {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 2rem;
        margin-bottom: 2.5rem;
    }

    .add-info {
        max-width: 600px;
        margin: 0 auto;
    }
}

.service-areas {
    padding: 4rem 0 4rem 0;
    background-color: $peak-light-grey;
    text-align: center;

    .list-of-areas {
        font-size: 1rem;
        font-weight: 300;
    }
}
