.home-hero {
    background-image: url('../images/home-hero@2x.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    display: flex;
    align-items: center;

    @media (min-width: 700px) {
        height: 500px;
    }

    .wrap {
        padding: 2rem;
        // max-width: 750px;

        .button {
            margin-right: 1rem;
        }

        h1 {
            font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
            font-weight: 700;
            font-size: 2rem;
            line-height: 1;
            text-transform: uppercase;
            color: $white;
            margin: 0 0 3rem 0;

            @media (min-width: 400px) {
                font-size: 2.5rem;
            }

            @media (min-width: 600px) {
                font-size: 3.125rem;
            }

            @media (min-width: 800px) {
                font-size: 5.625rem;
            }
        }
    
        h2 {
            font-family: 'Roboto', Arial, Helvetica, sans-serif;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.2;
            color: $white;
            margin: 0 0 1rem 0;

            @media (min-width: 400px) {
                font-size: 1.2rem;
            }

            @media (min-width: 600px) {
                font-size: 1.375rem;
            }

            @media (min-width: 800px) {
                font-size: 1.5625rem;
            }
        }

        .phone {
            color: $white;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 300;
            padding: 1rem 0 0 0;
            display: inline-block;

            @media (min-width: 400px) {
                font-size: 1.25rem;
            }
        }
    }
}

.home-services {
    background-color: $white;
    text-align: center;
    padding: 3.9375rem 0 5.125rem 0;

    p {
        text-transform: capitalize;
        font-size: 1.5625;
    }

    .service-grid {
        max-width: 660px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        padding: 2rem 0 4rem 0;

        @media (min-width: 600px) {
            grid-template-columns: repeat(4, 1fr);
        }

        .icon {
            background-color: $peak-blue-two;
            width: 110px;
            height: 110px;
            display: flex;
            justify-content: center;
            border-radius: 50%;
            margin: 0 auto;
        }

        p {
            margin-top: 1rem;
            font-size: 1.125rem;
            font-weight: 700;
        }
    }
}

.pricing {
    background-color: $peak-blue;
    color: $white;
    padding: 3.375rem 1.5rem 3.75rem 1.5rem;

    .pricing-wrap {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        max-width: 623px;
        margin: 0 auto;

        img {
            margin-bottom: 1rem;
        }

        @media (min-width: 600px) {
            grid-template-columns: 1fr 3fr;
            text-align: left;
        }

        h2 {
            font-size: 2.5rem;
            text-transform: uppercase;
            color: $white;
        }
    
        p {
            font-size: 1.25rem;
        }
    
        ul {
            list-style: none;
            font-size: 1.25rem;
            font-weight: 700;
            padding: 0;
            margin: 0 0 2rem 0;
        }
    }

    .line {
        background-color: $white;
        height: 1px;
        max-width: 700px;
        margin: 0 auto 2rem auto;
    }
}

.two-alt {
    display: grid;
    grid-template-columns: 1fr;
    background-color: $peak-light-grey;

    .col-1 {
        order: 1;
    }

    .col-2 {
        order: 2;
    }

    .col-3 {
        order: 4;
    }

    .col-4 {
        order: 3;
    }

    @media (min-width: 800px) {
        grid-template-columns: 1fr 1fr;

        .col-1 {
            order: 1;
        }
    
        .col-2 {
            order: 2;
        }
    
        .col-3 {
            order: 3;
        }
    
        .col-4 {
            order: 4;
        }
    }

    .col {
        display: flex;
        align-self: center;
        flex-direction: column;


        .wrap {
            max-width: 500px;
            margin: 0 auto;
            padding: 2rem 1.5rem 2rem 1.5rem;
            
            @media (min-width: 800px) {
                padding: 0 1.5rem 0 1.5rem;
            }
        }
    }
}

.testimonials {
    background-color: $peak-blue;
    padding: 4rem 1rem 2rem 1rem;

    // .slick-track {
    //     display: flex;
    //     align-items: center;
    // }

    @media (min-width: 800px) {
        padding: 5rem 1rem 5rem 1rem;
    }


    .test-wrap {
        max-width: 800px;
        margin: 0 auto;
        text-align: center;

        // .quote {
        //     font-size: 7.5rem;
        //     line-height: 0.3;
        // }

        h2 {
            color: $white;
        }
    
        p {
            color: $white;
        }

    }
}

.questions {
    display: flex;
    align-items: center;
    height: auto;
    padding: 2rem 0 2rem 0;

    @media (min-width: 600px) {
        height: 352px;
    }

    .wrap {
        max-width: 500px;
        margin: 0 auto;
        text-align: center;

        h2 {
            margin-bottom: .5rem;
        }

        p {
            margin-bottom: 2rem;
        }
    }
}