// ===================================================================
// Global Imports
// ===================================================================

@import 'vars';
@import 'base';
@import 'typography';
@import 'header';
@import 'containers';
@import 'home';
@import 'about';
@import 'appliance';
@import 'maint';
@import 'contact';
@import 'footer';



// .hero-with-image .hwi {
//     height: 500px;
//     display: flex;
// }

// .hero-with-image .hwi .wrap {
//     max-width: 540px;
//     align-self: center;
//     padding: 0 1rem 0 1rem;
// }

.hero-with-image .hwi h2 {
    font-size: 2rem;
    color: #ffffff;

    @media (min-width: 600px) {
        font-size: 4rem;
    }
}

.hero-with-image .sub-head {
    font-weight: 700;
}