@import '../../../scss/vars';
@import '../../../scss/containers';

.main-hero {
	position: relative;
    background-color: $peak-blue-two;
    color: $white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;

    @media (max-width: 960px) {
        background-image: none !important;

    }

    .hero-featured {
    	width: 422px;
    	position: absolute;
    	top: 0;
    	right: 0;
    }
}