@import '../../../scss/vars';

.questions {
    display: flex;
    align-items: center;
    height: auto;
    padding: 2rem 0 2rem 0;

    @media (min-width: 600px) {
        height: 352px;
    }

    .wrap {
        max-width: 500px;
        margin: 0 auto;
        text-align: center;

        h2 {
            margin-bottom: .5rem;
        }

        p {
            margin-bottom: 2rem;
        }
    }
}

.questions.colored,
.questions.blue {
    background-color: $peak-blue;
    padding: 30px;

    h2, p {
        color: white;
    }

    a {
        background-color: $peak-red;
        color: white;
    }
}

.questions.left {
    * {
        text-align: left;
    }
}