@import '../../../scss/vars';


.about-pricing {
    background-color: $peak-light-grey;
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem 0 2rem 0;

    @media (min-width: 1000px) {
        grid-template-columns: 1fr 1fr;
        padding: 0;
    }

    .col {
        display: flex;
        align-self: center;

        .wrap {
            max-width: 490px;
            margin: 0 auto;
            padding: 0 1rem 4rem 1rem;

            @media(min-width: 1000px) {
                padding-bottom: 0;
            }

            ul {
                color: $black;
            }

            .financing-link {

                p {
                    color: $peak-blue-two;
                    font-size: 1.5625rem;
                    font-weight: 700;
                    margin-top: 1rem;
                }
            
                a {
                    color: $peak-blue-two;
                    font-size: 1.5625rem;
                    font-weight: 700;
                    margin-top: 1rem;
                    text-decoration: underline;
                }
            }
        }
    }
}


