$white : #ffffff;
$black : #000000;

// Theme Colors
$peak-red: #E50019;
$peak-blue: #006B9D;
$peak-blue-two: #00A1ED;
$peak-light-grey: #F0F0F0;
$peak-nav-grey: #e6e6e6;


.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}